name: Integração Contínua (CI)

# Quando rodar? Sempre que houver push na branch master ou main
on:
  push:
    branches: [ "master", "main" ]
  pull_request:
    branches: [ "master", "main" ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
    # 1. Baixa o código do seu repositório
    - name: Checkout do código
      uses: actions/checkout@v3

    # 2. Tenta construir a imagem Docker (igual fizemos na sua máquina)
    - name: Build da Imagem Docker
      run: docker build -t meu-app-teste .

    # 3. (Opcional) Dá um "Oi" pra dizer que funcionou
    - name: Confirmação
      run: echo "A imagem foi construída com sucesso! O código está estável."